[Desktop Entry]
Name=Visual Studio Code
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=/home/jackby03/Apps/VSCode-linux-x64/code --open-url %U
MimeType=x-scheme-handler/vscode;
Icon=@@ICON@@
Type=Application
StartupNotify=false
Categories=TextEditor;Development;IDE;
Actions=new-empty-window;
Keywords=vscode;
